<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="classOne" class="ccc.examples.springIOCByXML.ClassOne" scope="prototype">
        <property name="name" value="ccc"/>
    </bean>

    <bean id="classTwo" class="ccc.examples.springIOCByXML.ClassTwo" scope="prototype">
        <constructor-arg index="0" value="whut"/>
        <constructor-arg index="1" value="12"/>
    </bean>

    <bean id="classThree" class="ccc.examples.springIOCByXML.ClassThree" scope="prototype">
        <property name="classOne" ref="classOne"/>
        <property name="classTwo" ref="classTwo"/>
    </bean>
</beans>